history
backups
transient
places
bookmarks
auto-save-list
network-security.data
el-get
.*~
.persistent-scratch
*.cache
.cache/
request/
elpa/
url/
eshell/
tmp/*
url/cookies
tramp
ido.last
.mc-lists.el
org-clock-save.el
*.plstore
session.*
custom.el
